<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <!--BOOTSTRAP CDN-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!--CSS DO PROJETO-->
        <link rel="stylesheet" href="css/principal.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    
    <body>
        <div class="container 
                    container-login
                    col-sm-9 
                    col-md-7 
                    col-lg-6">
                
            <form method="post" action="#">
                <span class="form-group row">
                    <label class="col-sm-2 col-form-label" for="txt_nickname">Usuário:</label>
                    <input class="form-control col-sm-10" type="text" id="txt_nickname">
                </span>
                
                <span class="form-group row">
                    <label class="col-sm-2 col-form-label" for="txt_senha">Senha:</label>
                    <input class="form-control col-sm-10" type="password" id="txt_senha">
                </span>
                
                <span class="form-group row float-right">
                    <input class="btn btn-success" type="submit" value="Logar">
                </span>
                <span class="clearfix"></span>
            </form>
            
        </div>
    </body>
</html>