.container-enviar-enunciado{
    margin-top: 20vh;
}

#file{
  display: none;
  
}

.container p{
    text-align: justify;
}
.container h1{
    text-align: center;
}

.nome-arquivo{
    overflow: hidden;
}